[submodule "code/nnv/engine/hyst"]
	path = code/nnv/engine/hyst
	url = https://github.com/verivital/hyst
[submodule "code/nnv/engine/cora"]
	path = code/nnv/engine/cora
	url = https://github.com/verivital/CORA.git
[submodule "code/nnv/examples/Submission/FORMALISE2025/npy-matlab"]
	path = code/nnv/examples/Submission/FORMALISE2025/npy-matlab
	url = https://github.com/kwikteam/npy-matlab.git
